@tailwind base;
@tailwind components;
@tailwind utilities;



/* ADDING GLOBAL SYTLING */

@layer base {
  body {
    @apply bg-[#faf8f8] text-[#1f2937] tracking-wide;
  }

  html, body {
    scroll-behavior: smooth !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-2xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  /* button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase text-[#d4d0d0] bg-gradient-to-r from-[#5651e5] to-[#709dff];
  } */
}


 /* .active-scroll-spy {
  background-color: #fb5858;
  border-radius: 10px;
  padding: 5px 7px;
  color: white;
  transition-timing-function:  cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 200ms;
}  */
html {
  scroll-behavior: smooth;
}